@using MyBookStore.Models
@model tblBook
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add Book</h2>

<div>
    @using (Html.BeginForm("Insert", "AddBook", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
            @Html.ValidationSummary(true,"")
           <div class="col-md-6">
               @Html.TextBoxFor(m=>m.Title,new {@placeholder="Enter Title Of Book",@class="form-control" })
               @Html.ValidationMessageFor(m=>m.Title)
           </div>
           <div class="col-md-6">
               @Html.TextBoxFor(m => m.Author,new { @placeholder = "Enter Author Name",@class="form-control" })
               @Html.ValidationMessageFor(m => m.Author)
           </div>
           <div class="col-md-6">
               @Html.TextBoxFor(m => m.Price, new { @placeholder = "Enter Price Of Book",@class="form-control" })
               @Html.ValidationMessageFor(m => m.Price)
           </div>
           <div class="col-md-6">
               <input class="inputMaterial" value="Choose Image" type="file" name="files" id="file" required>
           </div>
           <div>
               <input type="submit" value="Add Book" class="btn-sm" />
           </div>
    }
</div>

